body {
  background-image: url(pexels-veeterzy-39811.jpg);
  background-size: 107%;
  font-family: "Maven Pro", sans-serif;
}
main {
  padding: 30px 0;
}

.weather-app {
  background-color: #bcb5ad;
  opacity: 0.7;
  border-radius: 25px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 30px 0 30px 20px;
  display: block;
  text-align: center;
}
.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 60%;
  font-size: 16px;
  padding: 15px 20px;
}
.search-form-button {
  background: #885df1;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}
h1 {
  text-align: center;
  font-size: 45px;
  margin-bottom: 20px;
}
.temperature-degree {
  text-align: center;
  font-size: 45px;
}
.city-icon {
  display: block;
  text-align: center;
  font-size: 80px;
}
.details {
  display: block;
  text-align: center;
  font-size: 25px;
  margin: 20 0 20 0;
}
.description {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.8;
  margin-bottom: 20px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #f65282;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  text-align: center;
}
